{% for article in selected_articles %}   	
 	<div id="article">
      	<a href="{{article.lien}}" target="_blank" onclick="add_visite({{article.id}})">	
      		<object id="img_art" type="image/jpeg" data="{{ article.image }}">
      			<object id="img_art2" type="image/jpeg" data="{{ STATIC_URL }}empty_image.png"></object>
      		</object>
  		</a>		        		
      		<div id="info_art">
      			<div id="titre_date">
	        		<div id="titre_art"><a href="{{article.lien}}" target="_blank" onclick="add_visite({{article.id}})">{{ article.titre }}</a></div>
	        		<div id="date_art">{{ article.date|date:"H:i d-m-Y" }}</div>
        		</div>
       			<div id="origine_art"><img id="favicon" style="width:16px;" src='{{ STATIC_URL }}{{ article.origine }}.png' align="bottom" alt='{{ STATIC_URL }}empty_image.png'></img><div id="text_article">{{ article.origine }}</div></div>
      		</div>
      	    
   	
	   	<div id="social">
	   		<div id="fb_share" class="link_share">
				<a href="https://www.facebook.com/sharer.php?u={{ article.lien }}&t={{ article.titre }}" target="_blank"
				onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;">
					<img class="share_art" src="{{ STATIC_URL }}fb_share.png" alt="Icône partage Facebook">
				</a>
	   		</div>
	   		<div id="tw_share" class="link_share">
				<a href="https://twitter.com/share?url={{ article.short_link }}&text={{ article.titre }}&via=GeekHub2k13" target="_blank" 
				onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;">
					<img class="share_art" src="{{ STATIC_URL }}tw_share.png" alt="Icône partage Facebook">
				</a>
			</div>
		</div>		
	</div>
{% endfor %}
