
@font-face { 	
	font-family: "font_GH_bold"; 	
	src: url('./Neou-Bold.ttf');
}
@font-face{
	font-family: "font_GH"; 	
	src: url('./Neou-thin.ttf');
} 
/*REINITIALISATION DU BODY*/
body{margin : 0; padding: 0; background-attachment:fixed; min-width: 320px; background-color: #F5F5F5; font-family: Lucida grande, Sans-serif;}
a{text-decoration : none;}
/*************************************************************
*****************    SCROLL BARRE  ***************************
**************************************************************/
@charset "UTF-8";
::-webkit-scrollbar {									/* Scrollbars */
	width: 10px;
	height: 14px;
	background: rgba(150,150,150,0.5);
}
::-webkit-scrollbar-track-piece {						/* Fond */
	background: transparent;
}
::-webkit-scrollbar-thumb {								/* Barre */
	background : #222;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(255,255,255,0.2), inset 0 0 3px 0px #333;
}
::-webkit-scrollbar-thumb:hover {						/* Barre */
	-webkit-box-shadow: inset 0 0 0 1px rgb(90,90,90), inset 0 0 0 6px rgb(110,110,110);
}
body ::-webkit-scrollbar {
	background: transparent none;
}
/*************************************************************
*****************      HEADER      ***************************
**************************************************************/
header{height: 55px; width: 100%; background : url(./header_GH.png) repeat-x; box-shadow: 0 0px 12px #000017; border-bottom: 2px solid #800409;}
div#logo{color : #e5dfdf; margin-left: 10px; height : 55px;}

div#text_titre_news:hover,
div#text_titre_fb:hover,
div#text_titre_tw:hover{
	cursor : pointer;	
}

/*****************************************************
******************    NAVIGATION   *******************
******************************************************/
navigation{
	display: block;
	height: 55px;
	margin: -57px auto;
	width: 780px;
}
navigation a{
	text-decoration : none;
	color : #bbb;
}
navigation a:hover{
	color : #fff;
}
navigation ul{
	font-family: "font_GH_bold";	
	margin : 0;
}
li{
	padding : 18px;
	display: inline-block;
	text-shadow: 1px 1px 1px #777;
	
	}
.first{
	background: inherhit;
}
li:hover{
	background-color: rgba(255,255,255,0.1);
	text-shadow: none;
}
li:active{
	box-shadow: inset 0px 0px 27px rgba(0,0,0,1);
}
/***********************************************************
**********************   DROITE CONTENT   ******************
************************************************************/
div#content{
	margin : 45px auto 30px auto;
	width : 1140px;
}
div#gauche_accueil{
	display : inline-block;
	width : 75%;
	vertical-align : top;
	margin-top: 30px;
	margin-right: 10px;
}
div#droite_accueil{
	display : inline-block;
	width : 230px;
	vertical-align : top;
	margin-top: 30px;
}
#droite_bottom{
	text-align: center;
}
div#droite_accueil #best_site, #google_ads{
	padding-top:10px;
	background-color: #CCC;
	width: 100%;
	height: 210px;
	overflow: auto;
}
div#google_ads{
	padding-top:10px;
	background-color: #CCC;
	width: 100%;
	height: 235px;
	overflow: auto;
}
div#google_ads_cont{
	padding-left:14px;
}
div#droite_accueil #best_article{
	padding-top:10px;
	background-color: #CCC;
	width: 100%;
	height: 230px;
	overflow: auto;
}
div#droite_accueil #best_article, #google_ads{
	margin-top:15px;
}
div#droite_accueil #droite_bottom{
	padding: 5px 0px 0px 8px;
	color: white;
	font-size: 21px;
	background-color: #000010;
	overflow: auto;
	font-family: "font_GH_bold";
}
img#best_site_img{
	width: 150px;
	height: 120px;
	margin-left: 38px;
}
tr#droite_tab_title{
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}
tr#droite_tab_title td{
	width: 70px;
}
tr#droite_tab_info{
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	color: #800409;
}
#best_site_tab{
	margin: 5px 0 5px 0;
}
img#best_article_img{
	width: 150px;
	height: 120px;
	margin-left: 38px;
}
#best_article_titre{
	font-weight: bold;
	font-size: 13px;
	text-align: center;
	color: black;
}
#best_article_date{
	font-size: 11px; 
	color: #888;
	text-align: center;
}
#best_site_orig{
	display: inline-block;
	margin-top: 13px;
	margin-left: 5px;
}
#best_article_link{
	text-decoration: none;
}
#best_article_ori{
	margin-left: 5px;
	font-size: 14px;
	margin-bottom: 3px;
}
#best_article_vis{
	position: relative;
	bottom: 28px;
	left: 180px;
	width: 40px;
	height: 0px;
	color: #888;
	font-size: 25px;
	font-weight: bold;
}


/*************NEWS***************************/

div#news{
	display: table;
	margin-bottom: 20px;
	position: relative;
	background-color: #CCC;
}
div#titre_news_acc{
	display: table-cell;
	background-color: #000010;
    width: 60px !important;
}
div#text_titre_news{
	font-family: "font_GH_bold";
 	position: absolute;
	color: white;
	font-size: 45px;
	top: 55px;
	left: -27px;
	transform:rotate(270deg); 
	-ms-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-webkit-transform:rotate(270deg);
	-o-transform:rotate(270deg);
}
div#titre_news{
	display: table-cell;
	background-color: #000010;
    width: 60px !important;
}

div#articles{
	display: table-cell;
	width: 780px;
	height: 100%;
	padding: 10px 0 10px 11px;
}
img.img_news{
	margin: 20px 0 0 5px;
}
div#article{
	display: inline-block;
	width: 380px;
	height: 100px;
	background-color: white;
	margin : 2px 1px;
	/*border:1px solid #aaa;*/
	box-shadow : rgb(180, 180, 180) 1px 1px,
	rgb(180, 180, 180) 2px 2px,
	rgb(180, 180, 180) 3px 3px,
	rgb(180, 180, 180) 4px 4px;
	
	
	
}
object#img_art{
	display: block;
	position: absolute;
	float: left;
	width: 120px;
	height: 90px;
	margin-top: 5px;
	margin-left: 5px;
	background-image:url('{{ STATIC_URL }}image/empty_image.png');
}
object#img_art2{
	display: block;
	position: absolute;
	float: left;
	width: 120px;
	height: 90px;
	background-image:url('{{ STATIC_URL }}image/empty_image.png');
}
div#info_art{
	position: absolute;
	margin-left: 130px;
	width: 240px;
	height: 120px;
}
div#titre_art a{text-decoration: none;
color: #131313;
font-weight: 100;
font-size: 15px;}
div#titre_art a:visited{text-decoration: none;
color: #888;
font-weight: 100;
font-size: 15px;}

div#titre_date{height: 78px;}
div#date_art{font-size: 11px; color: #888;}
div#origine_art{ font-size: 14px;}
div#text_article{display: inline-block;
padding-left: 8px;
max-width: 145px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
vertical-align: top;
font-size: 11px;
margin-top: 5px;
}
div#switch_page{position: fixed; top: 200px;}
div.change_page{
	width: 35px;
	height: 45px;
	background-color: #000010;
	margin-bottom: 10px;
	color: white;
	border: 1px solid #800409;
	border-left: 0px;
	font-size: 35px;
	padding: 7px 0 0 15px;
}
div#prev{
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 15px solid #d1d1d1;
	margin-top: 10px;
}
div#prev:hover{	border-right: 15px solid #a1a1a1;}
div#next{
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #d1d1d1;
	margin-top: 10px;
}
div#next:hover{	border-left: 15px solid #a1a1a1;}
div#visites_art{
	font-family: "font_GH_bold";
	color: #CCC;
	font-weight: bold;
	font-size: 25px;
	position: relative;
	top: -26px;
	left: 190px;
	text-align: right;
	width: 50px;
	height: 0px;
}
div#social{
width: auto;
float: right;
position: relative;
top: 74px;
margin: 2px;
}
div.link_share{display : inline-block;}
img.share_art{width : 22px;}
img.share_art:hover{border-radius : 3px;}

/*************FACEBOOK***************************/

div#facebook{display: table; margin-bottom: 20px;border-collapse:separate; position: relative; background-color: #CEE3F6; min-height: 300px;}
div#titre_face_acc{	display: table-cell;
	background-color: #000010;
    width: 60px !important;}
div#titre_face{	display: table-cell;
	background-color: #000010;
    width: 60px !important;}
div#text_titre_fb{
	font-family: "font_GH_bold";
 	position: absolute;
	color: white;
	font-size: 45px;
	top: 110px;
	left: -87px;
	transform:rotate(270deg); 
	-ms-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-webkit-transform:rotate(270deg);
	-o-transform:rotate(270deg);
}
img.img_face{margin: 20px 0 0 5px;}
div#publications{display: table-cell;}
div#publication{margin: 10px 12px 15px 10px; border:1px solid #819FF7; background-color: white; width: 768px;}
div#fb_origine{color: #3b5998; font-size: 19px; font-weight: bold; margin: 10px 0 0 15px;}
div#fb_titre{margin: 0 15px 5px 0; }
div#fb_contenu{margin-left: 15px; padding-right: 5px; font-size: 14px; color: black;}
div#fb_date{font-size: 11px; color: #888; margin: 0 5px 10px 15px;}
div#publication img{display:block; width:auto; margin-left:auto; margin-right:auto;}
div#fb_visites{
	font-family: "font_GH_bold";
	position: relative;
	bottom: 25px;
	right: -710px;
	width: 50px;
	height: 0px;
	text-align: right;
	color: #CEE3F6;
	font-size: 25px;
	font-weight: bold;
}
div#publications a{
	text-decoration: none;
}

/*************TWITTER***************************/

div#twitter{display: table; background-color: #CEF6EC; margin-bottom: 20px; position: relative; min-height: 250px;}
div#titre_twit_acc{display: table-cell;
	background-color: #000010;
    width: 60px !important;}
div#titre_twit_news{display: table-cell;
	background-color: #000010;
    width: 60px !important;}
div#text_titre_tw{
	font-family: "font_GH_bold";
 	position: absolute;
	color: white;
	font-size: 45px;
	top: 90px;
	left: -63px;
	transform:rotate(270deg); 
	-ms-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-webkit-transform:rotate(270deg);
	-o-transform:rotate(270deg);
}
div#publications_tw{padding: 10px 0 10px 0;}
div#publication_tw{border:1px solid #8ec1da; display: inline-block; width: 768px; height: 80px; background-color: white; float: top; margin: 1px 0 1px 11px;}
img.img_twit{margin: 20px 0 0 5px;}
div#tw_origine{font-weight: bold; font-size: 19px; margin: 10px 0 0 15px; color: black;}
div#tw_contenu{margin-left: 15px; font-size: 14px; color: black;}
div#tw_date{font-size: 11px; color: #888; margin: 0 0 10px 15px;}
div#publications_tw a{text-decoration:none;}
div#tw_visites{
	font-family: "font_GH_bold";
	position: relative;
	bottom: 25px;
	right: -710px;
	width: 50px;
	height: 0px;
	text-align: right;
	color: #CEE3F6;
	font-size: 25px;
	font-weight: bold;
}

/*************STATISTIQUES***************************/

#stats_art{
	background-color: #CCC;
	margin-bottom: 20px;
	overflow: auto;
}
#titre_statistiques_news{
	background-color: #000010; 
	width: 60px; 
	height: 630px; 
	float:left; 
	overflow:auto;
}
#text_statistiques_news{
	font-family: "font_GH_bold";
 	position: absolute;
	color: white;
	font-size: 45px;
	top: 230px;
	left: 272px;
	transform:rotate(270deg); 
	-ms-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-webkit-transform:rotate(270deg);
	-o-transform:rotate(270deg);
}
#class_sites{
	padding-left: 62px;
}
#stats_site_1, #stats_site_2, #stats_site_3{
	width: 252px;
	height: 250px;
	background-color: white;
	display: inline-block;
	margin-top: 8px;
	margin-left: 5px;
	border: #888 solid 1px;
}
#stats_site_4, #stats_site_5, #stats_site_6, #stats_site_7, #stats_site_8, #stats_site_9, #stats_site_10, #stats_site_11{
	width: 186px;
	height: 170px;
	background-color: white;
	display: inline-block;
	margin-top: 8px;
	margin-left: 5px;
	border: #888 solid 1px;
}
#stats_site_1 tr.tab_site_title, #stats_site_2 tr.tab_site_title, #stats_site_3 tr.tab_site_title{
	color: black;
	font-weight: bold;
	font-size: 16px;
}
#stats_site_4 tr.tab_site_title, #stats_site_5 tr.tab_site_title, #stats_site_6 tr.tab_site_title, #stats_site_7 tr.tab_site_title,
 #stats_site_8 tr.tab_site_title, #stats_site_9 tr.tab_site_title, #stats_site_10 tr.tab_site_title, #stats_site_11 tr.tab_site_title{
	color: black;
	font-weight: bold;
	font-size: 12px;
}
tr.tab_site_title td{
	width: 33%;
	text-align: center;
}
#stats_site_1 tr.tab_site_result, #stats_site_2 tr.tab_site_result, #stats_site_3 tr.tab_site_result{
	color: #800409;
	font-weight: bold;
	font-size: 16px;
}
#stats_site_4 tr.tab_site_result, #stats_site_5 tr.tab_site_result, #stats_site_6 tr.tab_site_result, #stats_site_7 tr.tab_site_result,
#stats_site_8 tr.tab_site_result, #stats_site_9 tr.tab_site_result, #stats_site_10 tr.tab_site_result, #stats_site_11 tr.tab_site_result{
	color: #800409;
	font-weight: bold;
	font-size: 12px;
}
tr.tab_site_result td{
	width: 34%;
	text-align: center;
}
#stats_site_1 .stats_site_img, #stats_site_2 .stats_site_img, #stats_site_3 .stats_site_img{
	display: block; 
	width: 150px;
	height: 120px;
	margin: 10px auto 15px auto;
}
#stats_site_4 .stats_site_img, #stats_site_5 .stats_site_img, #stats_site_6 .stats_site_img, #stats_site_7 .stats_site_img,
#stats_site_8 .stats_site_img, #stats_site_9 .stats_site_img, #stats_site_10 .stats_site_img, #stats_site_11 .stats_site_img{
	display: block; 
	width: 100px;
	height: 80px;
	margin: 10px auto 10px auto;
}
#stats_site_1 .stats_pos, #stats_site_2 .stats_pos, #stats_site_3 .stats_pos{
	font-weight: bold;
	font-size: 22px;
	margin: 3px 0 0 4px;
}
#stats_site_4 .stats_pos, #stats_site_5 .stats_pos, #stats_site_6 .stats_pos, #stats_site_7 .stats_pos,
#stats_site_8 .stats_pos, #stats_site_9 .stats_pos, #stats_site_10, #stats_site_11 .stats_pos{
	font-weight: bold;
	font-size: 18px;
	margin: 3px 0 0 4px;
}
#stats_fb{
	background-color: #CCC;
	margin-bottom: 20px;
	overflow: auto;
	position: relative;
}
#titre_statistiques_fb{
	background-color: #000010; 
	width: 60px; 
	height: 300px; 
	float:left; 
	overflow:auto;
}
#text_statistiques_fb{
	font-family: "font_GH_bold";
 	position: absolute;
	color: white;
	font-size: 45px;
	top: 80px;
	left: -60px;
	transform:rotate(270deg); 
	-ms-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-webkit-transform:rotate(270deg);
	-o-transform:rotate(270deg);
}
.tab_header{
	font-weight: bold;
}
.cell_header{
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px 0 10px 0;
	background-color: white;
	border: 1px solid #888;
}
.center_text{
	text-align: center;
}
#stats_tw{
	background-color: #CCC;
	margin-bottom: 20px;
	overflow: auto;
	position: relative;
}
#titre_statistiques_tw{
	background-color: #000010; 
	width: 60px; 
	min-height: 370px; 
	float:left; 
	overflow:auto;
}
#text_statistiques_tw{
	font-family: "font_GH_bold";
 	position: absolute;
	color: white;
	font-size: 45px;
	top: 150px;
	left: -132px;
	transform:rotate(270deg); 
	-ms-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-webkit-transform:rotate(270deg);
	-o-transform:rotate(270deg);
}
.cell_normal{
	border-bottom: white 1px solid;
	padding: 10px 0 10px 5px;
	font-weight: bold;
	font-size: 14px;
}
.cell_red{
	color: #800409;
}
#tab_twitter{
	margin: 10px 7px 0 7px;
}
#tab_facebook{
	margin: 10px 7px 0 7px;
}


/************************************************************
**************    FOOTER         ****************************
*************************************************************/
div#social_elements{
	display: inline-block;
	width: 200px;
}
footer{
	height: 165px;
	width: 100%;
	background: url(./footer_GH.png) repeat-x;
	border-top: 2px solid #800409;
	box-shadow: 0 0px 12px #000010;
}
div#footer_links{
	margin: auto; width: 900px; margin-top: 70px;
	height: 90px;
	font-family: "font_GH_bold";
	font-size: 12px;
}
div#footer_links a{
	display: inline-block;
	text-decoration: none;
 	color: white;
 	margin-top: 10px;
 	width: 900px;
}
div#links{
	width: 350px;
	height: 70px;
	display: inline-block;
}
img#foot1{
	float: right;
}
div#prod{
	width: 169px;
	border-bottom: 1px solid #555;
	margin: 140px auto 0;
}
img#signature{
	border-bottom: 1px solid #800409;
	margin-bottom: -5px;
}
