{% include "theme/header.html" %}
<script>
$(window).bind('focus', function() {
	$(document).skylo('start');
	$.ajax({
	    type: "POST",
	    url: '/refresh_nw/',
	    data: { 
	    	static_url: "{{ STATIC_URL }}"		  
	    }
	}).done(function(msg){
	    $("#articles").html(msg);
	    $(document).skylo('set',30);
	})
	$.ajax({
	    type: "POST",
	    url: '/refresh_fb/',
	    data: { 
	    	static_url: "{{ STATIC_URL }}"		  
	    }
	}).done(function(msg){
	    $("#publications").html(msg);
	    $(document).skylo('set',60);
	})
	$.ajax({
	    type: "POST",
	    url: '/refresh_tw/',
	    data: { 
	    	static_url: "{{ STATIC_URL }}"		  
	    }
	}).done(function(msg){
		$(document).skylo('set',90);
	    $("#publications_tw").html(msg);
	    $(document).skylo('end');
	})
});

function add_visite(id){
	$.ajax({
	    type: "POST",
	    url: '/news/add_visite/',
	    data: {
	    	id: id,
	    }
	})
}

function add_visite_fb(id){
	$.ajax({
	    type: "POST",
	    url: '/facebook/add_visite/',
	    data: {
	    	id: id,
	    }
	})
}

function add_visite_tw(id){
	$.ajax({
	    type: "POST",
	    url: '/twitter/add_visite/',
	    data: {
	    	id: id,
	    }
	})
}
</script>

<div style="visibility:hidden">
{{csrf_token}}
</div>
	
<div id="content">
	<div id="gauche_accueil">
		<div id="news">
			<div id="titre_news_acc"></div><div onclick="location.href='/news/0';" id="text_titre_news">NEWS</div>
			<div id="articles">
				{% include "ajax_template/ajax_news.html" %}
        	</div>
		</div>
		<div id="facebook">
			<div id="titre_face_acc"></div><div onclick="location.href='/facebook/0';" id="text_titre_fb">FACEBOOK</div>
			<div id="publications">
		  	{% for article in last_facebook %}
		  	<a href="" target="_blank" onclick="add_visite_fb({{article.id}})">        
	          <div id="publication">
	            <div id="fb_origine">{% autoescape off %}{{ article.origine }}{% endautoescape %}</div>
	            <div id="fb_contenu">{% autoescape off %}{{ article.contenu }}{% endautoescape %}</div>
	            <div id="fb_date">{% autoescape off %}{{ article.date|date:"H:i d-m-Y" }}{% endautoescape %}</div>
	          	<div id='fb_visites'>{{ article.visites }}</div>
	          </div>
	        </a>
		    {% endfor %}
		    </div>
		</div>
		<div id="twitter">
			<div id="titre_twit_acc"></div><div onclick="location.href='/twitter/0';" id="text_titre_tw">TWITTER</div>
			<div id="publications_tw">
		  	{% for article in last_twitter %}            
	          <a href="https://twitter.com/{{article.origine}}" target="_blank" onclick="add_visite_tw({{article.id}})"><div id="publication_tw">
	            <div id="tw_origine">{% autoescape off %}{{ article.origine }}{% endautoescape %}</div>
	            <div id="tw_contenu">{% autoescape off %}{{ article.titre }}{% endautoescape %}</div>
	            <div id="tw_date">{% autoescape off %}{{ article.date|date:"H:i d-m-Y" }}{% endautoescape %}</div>
	          	<div id="tw_visites">{{ article.visites }}</div>
	          </div></a>  
		    {% endfor %}
		    </div>
		</div>
	</div>

{% include "theme/footer.html" %}