{% include "theme/header.html" %}
<script>
$(window).bind('focus', function() {
	$(document).skylo('start');
	$.ajax({
	    type: "POST",
	    url: '/news/refresh/',
	    data: { 
	    	page: "{{ page_number }}",
	    	static_url: "{{ STATIC_URL }}"		  
	    }
	}).done(function(msg){
		$(document).skylo('set',30);
	    $("#articles").html(msg);
	    $(document).skylo('end');
	})
});

function add_visite(id){
	$.ajax({
	    type: "POST",
	    url: '/news/add_visite/',
	    data: { 
	    	id: id,
	    }
	})
}
$(document).ajaxComplete(function(){
	twttr.widgets.load()
    try{
        FB.XFBML.parse(); 
    }catch(ex){}
});

$(document).ready(function(){
	var timer;
	var req;
	$("input").keyup(function(){
		clearInterval(timer);
		timer = setTimeout(function(){
			req = $.ajax({
			    type: "POST",
			    url: '/news/get_articles/',
			    data: { 
			    	text: $("input").val(),
			    },
				success: function(html){
					$("div#articles").html(html);
				}
			})
		},350)
		
	});
});


</script>

<div style="visibility:hidden">
{{csrf_token}}
</div>
<input type="text" placeholder="search"/>
<div id="switch_page">
	<div id="page" class="change_page">{{ page_number }}</div>
	<a href="/news/{{ page_prec }}">
		<div id="precedent" class="change_page">
			<div id="prev" class="triangle"></div>
		</div>
	</a>
	<a href="/news/{{ page_suiv }}">
		<div id="suivant" class="change_page">
			<div id="next" class="triangle"></div>
		</div>
	</a>
</div>
<div id="content">
	<div id="gauche_accueil">
	<div id="news">
		<div id="titre_news"><div id="text_titre_news">NEWS</div></div>
			<div id="articles">				
				{% include "ajax_template/ajax_news.html" %}
        	</div>
		</div>
	</div>	
{% include "theme/footer.html" %}