{% include "theme/header.html" %}
<div style="visibility:hidden">
{{csrf_token}}
</div>
<div id="content">
	<div id="gauche_accueil">
		<div id="stats_art">
	 		<div id="titre_statistiques_news"><div id="text_statistiques_news">CLASS. SITES</div></div>
			<div id="class_sites">
				{% for article in tabs_class %}	
					<div id="stats_site_{{ forloop.counter }}">
						<div class="stats_pos">{{ forloop.counter }}.</div>
						<img class="stats_site_img" src="{{ STATIC_URL }}site_img/{{ article.0 }}.png">
						<table id="tab_site">
							<tr class="tab_site_title">
								<td>Visites</td>
								<td>Articles</td>
								<td>Moyenne</td>
							</tr>
							<tr class="tab_site_result">
								<td>{{ article.2 }}</td>
								<td>{{ article.3 }}</td>
								<td>{{ article.4 }}</td>
							</tr>
						</table>
					</div>
				{% endfor %}
			</div>
	 	</div> 
	 	<div id="stats_fb">
	 		<div id="titre_statistiques_fb"><div id="text_statistiques_fb">STAT. FB</div></div>
			<div id="class_sites">
				<table id="tab_facebook">
				<tr class="tab_header">
					<td class="cell_header center_text" style="width: 340px;">Publicateur Facebook</td>
					<td class="cell_header center_text" style="width: 150px;">Visites</td>
					<td class="cell_header center_text" style="width: 150px;">Publications</td>
					<td class="cell_header center_text" style="width: 150px;">Moyenne</td>
				</tr>
				{% for article in tabs_class_fb %}	
				<tr class="line_tab">
					<td class="cell_normal source_text">{{ forloop.counter }}. {{ article.0 }}</td>
					<td class="cell_normal center_text cell_red">{{ article.2 }}</td>
					<td class="cell_normal center_text cell_red">{{ article.3 }}</td>
					<td class="cell_normal center_text cell_red">{{ article.4 }}</td>
				</tr>
				{% endfor %}
				</table>
			</div>
	 	</div>
	 	<div id="stats_tw">
	 		<div id="titre_statistiques_tw"><div id="text_statistiques_tw">STAT. TWITTER</div></div>
			<div id="class_sites">
				<table id="tab_twitter">
				<tr class="tab_header">
					<td class="cell_header center_text" style="width: 340px;">Publicateur Twitter</td>
					<td class="cell_header center_text" style="width: 150px;">Visites</td>
					<td class="cell_header center_text" style="width: 150px;">Tweets</td>
					<td class="cell_header center_text" style="width: 150px;">Moyenne</td>
				</tr>
				{% for article in tabs_class_tw %}
				<tr class="line_tab">
					<td class="cell_normal source_text">{{ forloop.counter }}. {{ article.0 }}</td>
					<td class="cell_normal center_text cell_red">{{ article.1 }}</td>
					<td class="cell_normal center_text cell_red">{{ article.2 }}</td>
					<td class="cell_normal center_text cell_red">{{ article.3 }}</td>
				</tr>
				{% endfor %}
				</table>
			</div>
	 	</div> 
	</div> 

{% include "theme/footer.html" %}