{% include "theme/header.html" %}
<script>
$(window).bind('focus', function() {
	$(document).skylo('start');
	$.ajax({
	    type: "POST",
	    url: '/twitter/refresh/',
	    data: { 
	    	page: "{{ page_number }}",
	    	static_url: "{{ STATIC_URL }}"		  
	    }
	}).done(function(msg){
		$(document).skylo('set',30);
	    $("#pyblications_tw").html(msg);
	    $(document).skylo('end');
	})
	
});

function add_visite(id){
	$.ajax({
	    type: "POST",
	    url: '/twitter/add_visite/',
	    data: {
	    	id: id,
	    }
	})
}
</script>

<div style="visibility:hidden">
{{csrf_token}}
</div>

<div id="switch_page">
	<div id="page" class="change_page">{{ page_number }}</div>
	<a href="/twitter/{{ page_prec }}"><div id="precedent" class="change_page"><</div></a>
	<a href="/twitter/{{ page_suiv }}"><div id="suivant" class="change_page">></div></a>
</div>
<div id="content">
	<div id="gauche_accueil">
	 <div id="twitter">
	 	<div id="titre_twit_acc"><div id="text_titre_tw">TWITTER</div></div>
	 	<div id="publications_tw">
		  {% for article in selected_articles %}
		          <a href="https://twitter.com/{{article.origine}}" target="_blank" onclick="add_visite({{article.id}})"><div id="publication_tw">
		            <div id="tw_origine">{% autoescape off %}{{ article.origine }}{% endautoescape %}</div>
		            <div id="tw_contenu">{% autoescape off %}{{ article.titre }}{% endautoescape %}</div>
		            <div id="tw_date">{% autoescape off %}{{ article.date|date:"H:i d-m-Y" }}{% endautoescape %}</div>
		            <div id="tw_visites">{{ article.visites }}</div>
		          </div></a>
		  {% endfor %}
		</div>
	 </div> 
</div> 
{% include "theme/footer.html" %}