<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="geekhub, geek-hub, geek_hub, Informatiques, Actualités informatiques, news high tech, high tech, smartphone, bon plan, os, android, ios, windows, linux, osx" />
	<meta name="description" content="Application web regroupant touts les actualités informatiques des sites les plus connus" />
	<title>Geek Hub</title>
	<!--CSS-->

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}geekhub_style.css"/>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}skylo.css"/>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap.css"/>
	<style>
		/*body custom scrollbar style
		body>.mCustomScrollBox>.mCSB_scrollTools{top:2%; height:96%;}*/
	</style>
	<!--JS-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}skylo/skylo.js"></script>
	<script src="{{ STATIC_URL }}skylo/bootstrap.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-44015967-2', 'webtonyo.dyndns.org');
	  ga('send', 'pageview');
	
	</script>
			
</head>
<body>
	<header>
		<div id="logo">
			<a href="/accueil"><img src="{{ STATIC_URL }}logo21_GH.png" alt="logo GeekHub"></a>			
		</div>
	</header>
	
	<navigation>	
		<ul>
			<a href="/accueil"><li class="first">Accueil</li></a>
			<a href="/news/0"><li>News</li></a>
			<a href="/facebook/0"><li>Posts Facebook</li></a>
			<a href="/twitter/0"><li>Tweets</li></a>
			<a href="/statistiques"><li>Statistiques</li></a>
		</ul>
	</navigation>